.chats {
  display: flex;
  cursor: pointer;
  padding: 5px 10px;
  align-items: center;
  position: relative;
  /* width: 100%; */
  height: 70px;
  color: #d4d5d7;
}
.chats > .MuiAvatar-root {
  height: 49px !important;
  width: 49px !important;
}

.chats_detail {
  margin-left: 10px;
  position: relative;
  flex: 1;
  display: flex;
  color: #d4d5d7;
  flex-direction: column;
}

.chats_detail > h3 {
  color: rgba(241, 241, 242, 0.92);
  width: 99.6px;
  overflow: hidden;
}

.chats_detail > h5 {
  position: relative;
  width: 100px;
  overflow: hidden;
  color: rgba(241, 241, 242, 0.63);
}

.chats > h5 {
  align-self: center;
  color: #d4d5d7;
  font-size: 11px;
}

.line {
  width: 84%;
  height: 1px;
  margin-left: auto;
  background-color: #30383d;
}
.chats:hover {
  background-color: #323739;
}
