.landing {
  width: 100%;
  height: 100vh;
  background-color: rgb(224, 213, 213);
}

.preview {
  display: flex;
}
a {
  text-decoration: none;
}
.whatsApp_Logo {
  height: 200px;
  object-fit: contain;
}

.landing_page {
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
}

.landing_contents {
  display: grid;
  place-items: center;
  padding: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.landing_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.landing_button {
  display: flex;
  margin: 10px !important;
  background-color: green !important;
  color: white !important;
}

.landing_button:hover {
  background-color: rgb(20, 206, 29) !important;
  color: white;
}
